In [10]:
aux = open('arquivos/salarios.csv', 'r')

salarios = aux.read()

rows = salarios.split('\n')

print(rows[:5])

['Name,Position Title,Department,Employee Annual Salary', '"AARON,  ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00', '"AARON,  JEFFERY M",POLICE OFFICER,POLICE,$80778.00', '"AARON,  KARINA",POLICE OFFICER,POLICE,$80778.00', '"AARON,  KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00']

In [19]:
full_dataset = []

for row in rows:
    split_row = row.split(',')
    full_dataset.append(split_row)

print(full_dataset[:5])

[['Name', 'Position Title', 'Department', 'Employee Annual Salary'], ['"AARON', '  ELVIA J"', 'WATER RATE TAKER', 'WATER MGMNT', '$88967.00'], ['"AARON', '  JEFFERY M"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KARINA"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KIMBERLEI R"', 'CHIEF CONTRACT EXPEDITER', 'GENERAL SERVICES', '$84780.00']]

### Contando a quantidade de linhas da lista

In [23]:
quant_linhas = 0

for x in full_dataset:
    quant_linhas += 1

print(quant_linhas)

32184

### Contando a quantidade de colunas

In [24]:
quant_colunas = 0

for x in full_dataset[0]:
    quant_colunas += 1

print(quant_colunas)

4

### Usando pandas

In [2]:
import pandas as pd

path_arquivo = 'arquivos/salarios.csv'

data_set_pandas = pd.read_csv(path_arquivo)

data_set_pandas.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [6]:
data_set_pandas['Position Title'].value_counts()

Position Title
POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
CITY COMPTROLLER                             1
ASST MANAGER OF POLICE PAYROLLS              1
HATE CRIME VICTIM ADVOCATE                   1
SECRETARY TO THE CHAIRMAN                    1
SENIOR SYSTEMS PROGRAMMER                    1
Name: count, Length: 1094, dtype: int64